@import './scss/bootstrap/bootstrap.scss';

.card {
    border-radius:0px!important;
}

.card-header {
    background-color:#fff!important;
    font-size:1.5rem;
}

.card-footer {
    background-color:#fff!important;
}